HASURA_GRAPHQL_ENDPOINT=https://bursting-perch-25.hasura.app/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=bqTh9W5K1PBKLBgJhqPQwjIRKH0ByZzCi5Jwkrforac3ze9CCFkawelI0AHd0Ghe

JWT_SECRET=1234567890qwertyuiopasdfghjklzxcvbnm

EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_ADDRESS=lydiaxue0614@163.com
EMAIL_PASSWORD=BTtwBLVnpj6MTwjF

FILE_DIR=/data/upload
